<div class="app-component__header">
  <h2>AI Media Toy Robot Challenge</h2>
</div>

<div class="app-component__body">
  <div class="row-1">
    <ng-container
      *ngFor="let tableItem of tableItems | slice: 0:5; let i = index"
    >
      <div id="{{ tableItem.id }}" class="robot-default"></div>
    </ng-container>
  </div>

  <div class="row-2">
    <ng-container
      *ngFor="let tableItem of tableItems | slice: 5:10; let i = index"
    >
      <div id="{{ tableItem.id }}" class="robot-default"></div>
    </ng-container>
  </div>

  <div class="row-3">
    <ng-container
      *ngFor="let tableItem of tableItems | slice: 10:15; let i = index"
    >
      <div id="{{ tableItem.id }}" class="robot-default"></div>
    </ng-container>
  </div>

  <div class="row-4">
    <ng-container
      *ngFor="let tableItem of tableItems | slice: 15:20; let i = index"
    >
      <div id="{{ tableItem.id }}" class="robot-default"></div>
    </ng-container>
  </div>

  <div class="row-5">
    <ng-container
      *ngFor="let tableItem of tableItems | slice: 20:25; let i = index"
    >
      <div id="{{ tableItem.id }}" class="robot-default"></div>
    </ng-container>
  </div>
</div>

<div class="app-component__footer">
  <form
    [formGroup]="setPositionForm"
    class="app-component__footer_set_initial_posiion"
  >
    <mat-form-field appearance="fill">
      <mat-label>X position</mat-label>
      <input
        matInput
        formControlName="positionX"
        type="number"
        min="1"
        max="5"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Y position</mat-label>
      <input
        matInput
        formControlName="positionY"
        type="number"
        min="1"
        max="5"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Direction</mat-label>
      <mat-select formControlName="startingDirection">
        <mat-option *ngFor="let direction of directions" [value]="direction">
          {{ direction }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <button mat-raised-button color="primary">Set Position</button> -->
  </form>

  <div class="app-component__footer_robot-commands">
    <button mat-raised-button color="warn" (click)="move()">Move</button>
    <button mat-raised-button color="warn">Left</button>
    <button mat-raised-button color="warn">Right</button>
    <button mat-raised-button color="accent">Report</button>
  </div>
</div>
